

.navbar .btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#ThemeBtn {
  background-color: #091E420F;
  color: #344563;
}
#ThemeBtn:hover {
  background-color: #07193835;
}
.NavBtn span {
  align-items: center;
  content: cen;
}
.navbar .nav-link:hover {
  background-color: #091E420F;
  border-radius: 5px;
}

.footer {
  font-size: 12px;
  background-color: #091E420F;
}

.footer .nav-item:hover {
    text-decoration: underline;
  
}
.SecFuture .card {
  border-radius: 5px;
  height: 60px;
  border: none;

}
.backgroundVideo {
  background: linear-gradient(90deg, #eeb3ac 0%, #ebc3db 100%);
  opacity: 90%;
  
}
.videoOverplay {
  -o-filter: blur(px);
  filter: blur(3px);
}
.txt-Future{
  font-size: 16px;
  font-weight: 500;
}
.btnVideo {
  background: linear-gradient(90deg, #CA3521 0%, #AE4787 100%);
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.SectionOne .card-title {
  font-size: 20px;
}
.SectionOne .card-text {
  font-size: 14px;
  color: #5E6C84;
}
.SectionOne a {
  font-size: 14px;
}
.SectionOne .card {
  background-color: #f7f8f9;
  border: none;
}
.SectionOne .badge {
  font-size: 14px;
  border-radius: 5px;
}
.SectionTwo .card-title {
  font-size: 20px;
}
.SectionTwo .card-text {
  font-size: 14px;
  color: #5E6C84;
}
.SectionTwo a {
  font-size: 14px;
}
.SectionTwo .card {
  border: none;
  height: 250px; 
}
.SectionTwo .badge {
  font-size: 14px;
  border-radius: 5px;
}

.SectionMenu .card-title {
  font-size: 20px;
}
.SectionMenu .card-text {
  font-size: 14px;
  color: #5E6C84;
}
.SectionMenu a {
  font-size: 14px;
}
.SectionMenu .card {
  border: none;
}
.SectionMenu .badge {
  font-size: 14px;
  border-radius: 5px;
}
.SectionMenu .card-title {
  font-size: 20px;
}
.SectionMenu .card-text {
  font-size: 14px;
}
.SectionMenu a {
  font-size: 14px;
}
.SectionMenu .card {
  border: none;
  height: 250px; 
}
.SectionMenu .badge {
  font-size: 14px;
  border-radius: 5px;
}
.brandMenu {
  box-shadow: 0px 1px 1px #091E4240, 0px 0px 1px #091E424F, 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px 0 rgba(9, 30, 66, 0.31);
  height: 250px; 
  border: none;
}
.brandMenu i {
  font-size: 16px;
}
.brandMenu:hover {
  box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
  transition: box-shadow 200ms;
}
.Menu:hover {
  box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
  transition: box-shadow 200ms;
}

.SectionFive {
  background-color: #F7F8F9;
}

.SectionFive p {
  color: #5E6C84;
}

.SectionFive .card {
  margin-top: 30px;
  border: none;
}


.SectionFive .card-title {
  font-size: 20px;
}

.SectionFive .card-text {
  font-size: 14px;
  color: #5E6C84;
}

.SectionFive .card {
  border: none;
  height: 200px; 
}

.imgMenu:hover {
  box-shadow: var(--ds-shadow-overlay, 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31));
  transition: box-shadow 200ms;
}


.subHeader p{
  font-size: 14px;
}
.subHeader a{
  text-decoration: none;
}


/* Sidebar Styles */
.sidebar {

  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-link {
  display: block;
  color: #3a3e43;
  text-decoration: none;
  padding: 10px 0;
}

/* .sidebar-link:hover {
  background-color: #CCE0FF;
}

.sidebar-link.active {
  background-color: #CCE0FF;
  color: #0C66E4;
  font-weight: bold;
} */

.sidebar-link.disabled {
  opacity: 0.5;
  pointer-events: none;
}
